@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300;400&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,900;1,300;1,900&display=swap');

*{
     margin: 0;
     padding: 0;
     outline: 0;
     
}
:root{
     --black:#151b1f;
     --gray:#a7a397;
     --green:#00ff00;
}
body{
     display: flex;
     flex-direction: row;
     justify-content: center;
}
ul{
     background-color: #ffffff;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 80%;
}
ul li a {
     background-color: olivedrab;
     
}
li ul {
     display: flex;
     flex-direction: column;
}
li ul li{
     background-color: orange;
     opacity:  1;
}
/* li:hover  li ul li {
     background-color: orange;
     opacity: 1;

} */
li ul li{
     background-color: orange;
     opacity: 0;
     
}
ul li :hover {
     background: gold;
}
ul>li:hover li ul li  {
     background: gold;
     opacity: 1;
}